<div class="container">
    <h3>User Data</h3>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.user_name %></td>
                    <td><%= user.email %></td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm">active</button>
                      
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
